.home-hero {
  display: flex;
  justify-content: center;
  position: relative;
}

.home-characters {
  position: absolute;
  width: 100px;
  z-index: 10;
  left: 10px;
  top: 0;
}

.home-logo {
  max-width: 80%;
}

.home-nav {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.home-btn {
  margin-right: auto;
  margin-left: auto;
  width: 70%;
}

@media screen and (min-width: 900px) {
  .home-characters {
    width: 250px;
  }

  .home-btn {
    width: 30%;
  }
}
