.centered-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.addCommentButton {
    --background: #f7870f;
    --background-hover: #ffce72;
    --background-activated: #ffce72;
    --background-focused: #ffce72;
    --color: #000;
    --border-radius: 10px;
    --border-color: #000;
    --border-style: solid;
    --border-width: 1px;
    --box-shadow: 0 4px 6px 0 rgb(0, 0, 0, 1);
}

.commentListHolder {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    height: 65vh;
    overflow-y:scroll;
    flex-direction: column;
}

.commentList {
    width: 100%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.commentItem {
    width: 96%;
}